<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net452" />
  <package id="docfx.console" version="2.6.1" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Options" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.10" targetFramework="net452" />
  <package id="NuGet.Common" version="3.4.3" targetFramework="net452" />
  <package id="NuGet.Configuration" version="3.4.3" targetFramework="net452" />
  <package id="NuGet.Frameworks" version="3.4.3" targetFramework="net452" />
  <package id="NuGet.Logging" version="3.4.3" targetFramework="net452" />
  <package id="NuGet.Packaging" version="3.4.3" targetFramework="net452" />
  <package id="NuGet.Packaging.Core" version="3.4.3" targetFramework="net452" />
  <package id="NuGet.Packaging.Core.Types" version="3.4.3" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.Types" version="3.4.3" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.v3" version="3.4.3" targetFramework="net452" />
  <package id="NuGet.Versioning" version="3.4.3" targetFramework="net452" />
  <package id="SshNet.Security.Cryptography" version="1.2.0" targetFramework="net452" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net452" />
  <package id="System.Linq" version="4.1.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net452" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net452" />
  <package id="System.Threading" version="4.0.11" targetFramework="net452" />
</packages>